.App {
    /*box-sizing: border-box;*/
    margin: 0 auto 0;
    width: 100vh;
    height: calc(100vh - 100px);
    /*background-color: #282c34;*/
    /*border-radius: 70px;*/
    padding: 50px 0;
}
.Game {
    margin: 0 auto;
    width: calc(100vh - 100px - 100px);
    height: calc(100vh - 100px - 100px);
    box-sizing: border-box;
    border-radius: 70px;
    padding: 35px;
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
}
.Block{
    background-color: grey;
    margin: 5px;
    border-radius: 10px;
}
.block2{
    flex: 1 1 calc(50% - 10px);
}
.block3{
    flex: 1 1 calc(33.3% - 10px);
}
.block4{
    flex: 1 1 calc(25% - 10px);
}
.block5{
    flex: 1 1 calc(20% - 10px);
}
.active{
    background-color: white;
}
.Button{
    padding: 16px 32px;
    margin: 30px auto;
    background-color: green;
    color: white;
    text-align: center;
    max-width: 300px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
}
.Modal{
    position: absolute;
    width: calc(100vh - 280px);
    height: calc(100vh - 280px);
    background-color: rgba(0, 0, 0, .4);
    text-align: center;
    border-radius: 10px;
    font-size: 40px;
    margin: 5px;
    color: white;
    font-weight: bold;
}
.Modal__text{
    margin-top: calc(50vh - 160px);
}